<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7eef3] px-10 py-3">
    <div class="flex items-center gap-4 text-[#0e151b]">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4H42V17.3333V30.6667H24V44H6V30.6667V17.3333H24V4Z" fill="currentColor"></path>
        </svg>
      </div>
      <h2 class="text-[#0e151b] text-lg font-bold leading-tight tracking-[-0.015em]">AquaFlow</h2>
    </div>
    <div class="flex flex-1 justify-end gap-8">
      <div class="flex items-center gap-9">
        <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Dashboard</a>
        <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Zones</a>
        <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Reports</a>
        <a class="text-[#0e151b] text-sm font-medium leading-normal" href="#">Settings</a>
      </div>
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCclCzTIT_ctyVQaSnKMDax8Q16j3qyVoGHzLp7hwpxUe1FQ0jsqC6G-RPobCpC_DcNXpU4hdBXUFVl029RPmvB0QrQsCglaTYfiGzr-L748_Pv8v4vlP0CK8gpx03Rq7B9ljLVVggm8euK0BqEPz1zBTyOxnzBoCu13qri5UTVeXRgO64dfS8V_OjRX-ml2nuIasbU9_IfOfVb-TdmwKgLwDOGEoct_Y-KFBrBe17eAdL6KpqmwY7zQ54HjFy2H2DcEAmA77FooQ");'
      ></div>
    </div>
  </header>